{% load static %}

<h3 id="profile-title">Profile</h3>
<p><a id="back-link" class="back-link" onclick="hideLoginForm()">&lt;&lt; back</a></p>

<div id="user-profile" class="text-center">
    <p class="user-infos" data-user-section="profile">
        <a data-toggle="modal" data-target="#changeAvatarModal">
            {% if user.profileimg.picture %}
                <img src="{{ user.profileimg.picture.url }}" width="90" height="90" class="profile-img"><br>
            {% elif user.student42.picture %}
                <img src="{{ user.student42.picture }}" width="70" height="70" style="border-radius:50%; display:block; margin:0 auto; box-shadow: 0 0 10px #08f;">
            {% else %}
                <img src="/media/images/default.png" width="90" height="90" class="profile-img"><br>
            {% endif %}
        </a>
        <span id="username" class="neon-text">{{ user.username }}</span>
    </p>
    <p class="neon-text">
        <button id="friends-btn" class="neon-btn mb-3" onclick="changePage('/profiles/friends/'); hideLoginForm()">Friends</button>
        <br>
        <a id="local-pong-games" class="stats-selection-text" onclick="changePage('/profiles/ponggames/'); hideLoginForm()">Local pong games : {{ local_games }}</a><br>
        <a id="tournament-pong-games" class="stats-selection-text" onclick="changePage('/profiles/pongtournaments/'); hideLoginForm()">Tournament pong games : {{ games }}</a><br>
        <a id="bomberman-games" class="stats-selection-text" onclick="changePage('/profiles/bombermangames/'); hideLoginForm()">Bomberman games : {{ bbm_games }}</a><br>
    </p>

    <p><button id="modify-username-btn" class="neon-btn mt-3" data-toggle="modal" data-target="#changeUsernameModal">Modify username</button></p>
    <p><button id="btn-logout" href="javascript:void(0);" onclick="changePage('/'); logoutUser()">Log out</button></p>
</div>
