<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Transcendence</title>
    </head>
    <body>
        <h1>TEST</h1>
        <p>access token: {{ username }}</p>
        <img src="{{ picture }}" width="70" height="70" style="border-radius:50%; display:block; margin:0 auto; box-shadow: 0 0 10px #08f;">

        <form method="post" action="/test/">
            {% csrf_token %}
            <input style="display: none;" type="text" name="auth" value="auth">
            <input type="submit" value="42 auth">
        </form>
    </body>
</html>