{% load static %}
<style>

    body{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(0deg, rgb(29, 29, 29) 0%, rgb(168, 168, 168) 60%);
    }

    #game{
        box-shadow: 10px 10px 15px black;
    }

    form{
        display: flex;
        flex-direction: column;
        background-color: black;
        padding: 50px;
        font-size: 1.8em;
        border: 5px dashed white;
    }

    #fields{
        display: flex;
    }

    #username_list{
        display: flex;
        flex-direction: column;
        height: 25vh;
        overflow: auto;
    }

    #playersName{
        font-size: 1.8em;
        text-align: center;
    }

    #validate{
        position: absolute; left: -100%;
    }

    #winnerForm{
        display: none;
    }

</style>

{% if game == "off" %}

    {% if form %}

        <form method="post">
            {% csrf_token %}
            <p id="playersName">{{ name1 }} vs {{ name2 }}</p>
            <div id="fields">{{ form }}</div>
            <br>
            <input type="submit" value="PLAY">
        </form>

    {% else %}

        <form method="post">
            {% csrf_token %}
            <input id="validate" type="submit" value="PLAY" name="send">
            <p>
                <label for="nplayers">Number of players:</label>
                <input type="submit" value="-" name="send">
                <input name="players_number" id="nplayers" type="number" value="{{ number }}" readonly>
                <input type="submit" value="+" name="send">
            </p>
            <p id="username_list">
                {% for player in players %}
                    <input type="text" name="names" value="{{ player }}" required maxlength="15">
                {% endfor %}
            </p>
            <input type="submit" value="PLAY" name="send">
        </form>

    {% endif %}

{% elif game == "on" %}

    <div id="game_container">
        <canvas id="game"></canvas>
    </div>

    {{ color1 | json_script:"color1" }}
    {{ color2 | json_script:"color2" }}

    <form id="winnerForm" method="post">
        {% csrf_token %}
        <input type="text" id="winner" name="winner">
        <input type="submit" id="result" name="send" value="result">
    </form>

    <script src="{% static 'game.js' %}" type="module"></script>

{% else %}

    {% if winner %}

        <h1>The winner is {{ winner }}</h1>

    {% else %}

        <h1>Nobody won :(</h1>

    {% endif %}

{% endif %}