{% load static %}

<link rel="stylesheet" href="{% static 'form_style.css' %}">

<style>

    p{
        text-align: center;
        font-size: 2rem;
    }

    #backButton{
        position: absolute;
        top: 2rem;
        left: 1rem;
        font-size: 2rem;
        color: white;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }

</style>

<p id="back"><a href="{% url 'userprofiles:profile' %}"><< back</a></p>

<p>
    {% if user.profileimg.picture %}
        <img src="{{ user.profileimg.picture.url }}" width="100" height="100" style="border-radius:50%"><br>
    {% else %}
        <img src="/media/images/default.png" width="100" height="100" style="border-radius:50%"><br>
    {% endif %}
    {{ user.username }}
</p>

<p>
    <a href="{% url 'userprofiles:friend_request' %}">Friend requests ({{ friend_request }})</a>
</p>

<form method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Enter username to add friend" required maxlength="15">
    <input type="submit" value="add friend" name="send">
</form>

{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}

<br>

<h2>
    Friends
</h2>

{% if not friends %}

    <p>
        No friends yet
    </p>

{% endif %}

{% for friend in friends %}

    <p>
        {{ friend }}
    </p>

{% endfor %}