{% load static %}

<link rel="stylesheet" href="{% static 'form_style.css' %}">

<style>

    p{
        text-align: center;
        font-size: 2rem;
    }

    #backButton{
        position: absolute;
        top: 2rem;
        left: 1rem;
        font-size: 2rem;
        color: white;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }

</style>

<button id="backButton" onclick="history.back()"><< back</button>

<p>
    {% if user.profileimg.picture %}
        <img src="{{ user.profileimg.picture.url }}" width="100" height="100" style="border-radius:50%"><br>
    {% else %}
        <img src="/media/images/default.png" width="100" height="100" style="border-radius:50%"><br>
    {% endif %}
    {{ user.username }}
</p>

<h2>
    {{ game_name }} game {{ title }}
</h2>

{% if not games %}

    <p>
        No {{ title }}
    </p>

{% endif %}

{% for game in games %}

    <p>
        {{ game.date | date:"m/d/y g:i a" }}<br>
        {{ game.winner }} {{ game.winner_score }} - {{ game.loser_score }} {{ game.loser }}
    </p>

{% endfor %}