{% load static %}

<link rel="stylesheet" href="{% static 'form_style.css' %}">

<style>

    #backButton{
        position: absolute;
        top: 2rem;
        left: 1rem;
        font-size: 2rem;
        color: white;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }

</style>

<button id="backButton" onclick="history.back()"><< back</button>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
    {{form.as_p}}
    <input type="submit" value ="Save"/> 
</form>

{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}

<script>

    document.getElementById('id_username').value = "{{ user.username }}";

</script>