{% load static %}

<link rel="stylesheet" href="{% static 'form_style.css' %}">

<style>

    p{
        text-align: center;
        font-size: 2rem;
    }

    #backButton{
        position: absolute;
        top: 2rem;
        left: 1rem;
        font-size: 2rem;
        color: white;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }

</style>

<button id="backButton" onclick="history.back()"><< back</button>

<p>
    <a href="{% url 'userprofiles:modif_picture' %}">
        {% if user.profileimg.picture %}
            <img src="{{ user.profileimg.picture.url }}" width="100" height="100" style="border-radius:50%"><br>
        {% else %}
            <img src="/media/images/default.png" width="100" height="100" style="border-radius:50%"><br>
        {% endif %}
    </a>
    {{ user.username }}
</p>

<p>
    <a href="{% url 'userprofiles:bbm_games' %}">Bomberman games played : {{ bbm_games }}</a><br>
    <a href="{% url 'userprofiles:bbm_victories' %}">Victories in Bomberman game : {{ bbm_victories }}</a><br>
    <a href="{% url 'userprofiles:bbm_defeats' %}">Defeats in Bomberman game : {{ bbm_defeats }}</a><br>
    <a href="{% url 'userprofiles:bbm_draws' %}">Draws in Bomberman game : {{ bbm_draws }}</a><br>
    <br>
    <a href="{% url 'userprofiles:pong_games' %}">Pong games played : {{ games }}</a><br>
    <a href="{% url 'userprofiles:pong_victories' %}">Victories in pong game : {{ victories }}</a><br>
    <a href="{% url 'userprofiles:pong_defeats' %}">Defeats in pong game : {{ defeats }}</a><br>
</p>

<p><a href="{% url 'userprofiles:modif_name' %}">modify username</a></p>
<p><a href="{% url 'userprofiles:logout' %}">log out</a></p>