{% load static %}

<link rel="stylesheet" href="{% static 'form_style.css' %}">

<style>

    p{
        text-align: center;
        font-size: 2rem;
    }

</style>

<p id="back"><a href="{% url 'index' %}"><< back</a></p>

<p>
    {% if user.profileimg.picture %}
        <img src="{{ user.profileimg.picture.url }}" width="100" height="100" style="border-radius:50%"><br>
    {% else %}
        <img src="/media/images/default.png" width="100" height="100" style="border-radius:50%"><br>
    {% endif %}
    {{ user.username }}
</p>

<p>
    Bomberman games played : {{ games }}<br>
    Victories in Bomberman game : {{ victories }}<br>
    Defeats in Bomberman game : {{ defeats }}<br>
    Draws in Bomberman game : {{ draw }}<br>
    <br>
    Pong games played : {{ games }}<br>
    Victories in pong game : {{ victories }}<br>
    Defeats in pong game : {{ defeats }}<br>
</p>

<p><a href="{% url 'userprofiles:modif' %}">modify username</a></p>
<p><a href="{% url 'userprofiles:logout' %}">log out</a></p>