{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transcendence</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% if page == "homepage" %}
    
    <h1 id="main-title">PONG GAME</h1>

        {% if user.is_authenticated %}

            <p id="connection"><a href="{% url 'userprofiles:profile' %}">{{ user.username }}</a></p>
        
            <form method="get">
                <input id="play-button" type="submit" value="PLAY" name="play">
            </form>

        {% else %}

            <p id="connection"><a href="{% url 'userprofiles:login' %}">log in</a> | <a href="{% url 'userprofiles:register' %}">sign up</a></p>
        
            <input id="play-button-off" type="submit" value="PLAY">

        {% endif %}

    {% elif page == "modeSelection" %}

        {% include "./selection.html" %}

    {% elif page == "login" %}

        {% include "./login.html" %}

    {% elif page == "register" %}

        {% include "./register.html" %}

    {% elif page == "profile" %}
    
        {% include "./profile.html" %}

    {% endif %}

</body>
</html>