
<style>

  html, body {
      height: 100%;
  }

  a {
      text-decoration: none;
      color: white;
  }

  #back{
      position: absolute;
      top: 0;
      left: 1rem;
      font-size: 2rem;
  }

</style>

<p id="back"><a href="{% url 'index' %}"><< back</a></p>

<h2 class="mode-selection-buttons"><a href="{% url 'pong:play_local' %}">LOCAL</a></h2>
<h2 class="mode-selection-buttons"><a href="{% url 'pong:play_tournament' %}">Tournament</a></h2>
<h2 class="mode-selection-buttons"><a href="{% url 'bomberman:play' %}">Bomberman</a></h2>