/* Register modal styling */
.modal-content {
    background-color: rgba(44, 0, 50, 0.9);
    color: #f5f5f5;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 15px rgba(255, 0, 127, 0.7);
}

.modal-header {
    border-bottom: none;
}

.modal-header .close {
    color: #f5f5f5;
    font-size: 1.5rem;
}

.modal-body {
    padding: 2rem;
}

#signupModalLabel {
    font-size: 2rem;
    color: #ff007f;
    text-shadow: 0 0 10px #ff007f;
}

.form-group input.form-control {
    background-color: transparent;
    border: 1px solid #ff007f;
    color: #f5f5f5;
    box-shadow: 0 0 10px #ff007f;
    transition: box-shadow 0.3s;
}

.form-group input.form-control:focus {
    box-shadow: 0 0 20px #ff007f;
    border-color: #ff007f;
}

.btn-primary {
    background-color: #ff007f;
    border-color: #ff007f;
    box-shadow: 0 0 10px #ff007f;
    transition: box-shadow 0.3s;
}

.btn-primary:hover {
    background-color: #e60073;
    box-shadow: 0 0 20px #ff007f;
}

.alert {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.alert-success {
    background-color: rgba(0, 128, 0, 0.8);
    color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
}

.alert-danger {
    background-color: rgba(255, 0, 0, 0.8);
    color: #f5f5f5;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
}
