body{
    font-size: 2rem;
}

#error_message{
    color: red;
}

#back, #signup{
    position: absolute;
    top: 0;
}

#back{
    left: 1rem;
}

#signup{
    right: 1rem;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(99, 109, 116);
}