{% load static %}
<style>

    body{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(0deg, rgb(29, 29, 29) 0%, rgb(168, 168, 168) 60%);
    }

    #game{
        box-shadow: 10px 10px 15px black;
    }

    #game_container{
        display: none;
    }

    #selection{
        display: flex;
        justify-content: space-around;
        padding: 50px;
        width: 50vw;
        font-size: 1.8em;
    }

    button{
        font-size: 1.5em;
        font-weight: bold;
    }

</style>

<div id="selection">

    <div id="player1">

        <p>PLAYER 1</p>

        <input type="radio" id="white1" name="color1" value="white" checked="checked">
        <label for="white1">white</label><br>

        <input type="radio" id="black1" name="color1" value="black">
        <label for="black1">black</label><br>

        <input type="radio" id="yellow1" name="color1" value="yellow">
        <label for="yellow1">yellow</label><br>

        <input type="radio" id="red1" name="color1" value="red">
        <label for="red1">red</label><br>

        <input type="radio" id="green1" name="color1" value="green">
        <label for="green1">green</label><br>

        <input type="radio" id="blue1" name="color1" value="blue">
        <label for="blue1">blue</label><br>

    </div>

    <div id="player2">

        <p>PLAYER 2</p>

        <input type="radio" id="white2" name="color2" value="white">
        <label for="white2">white</label><br>

        <input type="radio" id="black2" name="color2" value="black" checked="checked">
        <label for="black2">black</label><br>

        <input type="radio" id="yellow2" name="color2" value="yellow">
        <label for="yellow2">yellow</label><br>

        <input type="radio" id="red2" name="color2" value="red">
        <label for="red2">red</label><br>

        <input type="radio" id="green2" name="color2" value="green">
        <label for="green2">green</label><br>

        <input type="radio" id="blue2" name="color2" value="blue">
        <label for="blue2">blue</label><br>

    </div>

</div>

<div id="btContainer">
    <button id="startGame">PLAY !</button>
</div>

<div id="game_container">
    <canvas id="game"></canvas>
</div>

<script src="{% static 'game.js' %}" type="module"></script>